<div class="brand_collections collections js-collections mb-40 pb-10">
    <div data-js-collection-replace="breadcrumbs" class="brand_breadcrumb">
        {% include 'breadcrumbs' %}
    </div>
  
  {% section 'collection_brand_body' %}
</div>