{% include 'breadcrumbs' %}
<div class="blogs pb-1 mt-20">
  <div class="container">
    <h1 class="blog_title h3 mb-10 text-left border-bottom">{{ blog.title }}</h1>
    <div class="short_description text-left mb-80">{{blog.metafields.short_description.short_description}}</div>
    <div class="row pb-60">
      <div class="blogs__body col">
        {% section 'commercial-body' %}
      </div>
    </div>
  </div>
</div>
<style>
  .short_description {
    color: #2D2D2D;
    font-size: 12px;
    line-height: 21px;
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px)
  {
    .template-blog .blogs__body.col {
      max-width: 100%;
    }
    .blog-body .post h3 a {
      font-size: 18px;
      line-height: 27px;
    }
    .pagination__page a {
      font-size: 15px;
      line-height: 20px;
    }
    .pagination__page.current {
      font-size: 15px;
      line-height: 20px;
    }
  }
</style>
