<div class="row">
  <div class="col-md-12 real_breadcrumb mobile_only">
  
    {% include 'breadcrumbs' %}
  
  </div>
  
  <div class="container {% if offset_pages_margin_top_d > 0 %} mt-lg-{{ offset_pages_margin_top_d }}{% endif %} pb-100{% if offset_pages_margin_bottom_d > 0 %} mb-lg-{{ offset_pages_margin_bottom_d }}{% endif %}">
    <h1 class="page__title mt-70 mb-25 pb-15 text-left border-bottom real_fake">{{ page.title }}</h1>
    <div class="rte real_desc mb-100">
      {% include 'parse-for-icons' content: page.content %}
    </div>
    
    {% section 'real_vs_fake_section' %}
    
  </div>
  </div>
<style>
.rte.real_desc {
    font-size: 17px;
    line-height: 32px;
}
</style>